/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
 
  color: black;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #eae2b7;}

  body style {margin: 0px; height: 100%;}


/* Set the font family for any h1, h2, or h3 heading */
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;
  font-family: "Playfair Display", Times, serif;
}
article {
  padding: 50px 0;
}

p {
  line-height: 1.5; 
}
li {text-align: left;}
a:link {color: #d62828;}
a:visited {color: #d62828;}
a:hover {color: #f77f00}
a:active {color: #f77f00;}

/* The div container constrains the content width within the main container to 600px */


img {
  width:250px; height: auto; border: #eae2b7 1px solid;}


hr {
  border: 1px solid black;
}

/* Add your solution below */

.image-circle {border-radius: 75%; border: 2px solid #003049;
width:20%; max-width: 20%; height: auto}

footer p {text-align: center;}


