/* Updated CSS */
body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Header */
header {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
}

/* Use flexbox for header content alignment */
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
}

/* About section */
#about {
  padding-top: 50px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.image-circle {
  border-radius: 50%;
  width: 200px; /* Adjust the size of the image */
  height: 200px; /* Adjust the size of the image */
  object-fit: cover;
  margin-right: 20px; /* Adjust margin as needed */
}

.petes-background {
  margin-top: 20px; /* Adjust margin as needed */
}

/* Portfolio section */
#portfolio {
  padding-top: 50px;
}

.portfolio-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.project {
  width: calc(33.33% - 20px);
}

.project img {
  width: 100%;
  height: auto;
}

.project-description {
  font-size: 14px;
}


